/* Aligned Chat Box and Typing indicator (Compact Mode)*/
.container_c48ade {
  --custom-chat-input-margin-bottom: 16px;
}
:root {
  --custom-channel-textarea-text-area-height: 42px;
}
.visual-refresh .base_b88801 .cooldownText_b21699 {
  font-size: 12px;
  height: 26px;
  display: flex;
  align-items: flex-end;
}
.typing_b88801 {
  font-size: 12px;
  height: 26px;
  display: flex;
  align-items: flex-end;
}
