.quickswitcher_ac6cb0 {
  background: 0 0 !important;
  padding: 10px;
  background-color: transparent !important;
  backdrop-filter: blur(20px);
  > * {
    background: inherit !important;
    background-color: inherit !important;
  }
  .scroller_ac6cb0 {
    margin: 0;
    border-radius: 0 0 8px 8px;
    scrollbar-width: none;
    padding: 4px !important;
  }
  .input_ac6cb0 { height: 50px }
  .input_ac6cb0[value=""] { border-radius: 8px }
  .input_ac6cb0:not([value=""]) { border-radius: 8px 8px 0 0 }
  .protip_ac6cb0 { display: none }
  .result__71961 { border-radius: 8px }
  .content__99f8c > div:not(.result__71961):not([aria-hidden=true]) > .content__71961 {
    height: 20px;
    line-height: 20px;
    > .header__71961 {
      line-height: 20px;
      margin-top: 0;
      margin-bottom: 4px;
    }
  }
}
.backdrop__1a911:has(+ .layer_bc663c .quickswitcher_ac6cb0) { opacity: 0 }
