.visual-refresh [class^="panels_"] {
    border-radius: 0;
    left: var(--custom-guild-list-width);
    bottom: 0;
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);
}
