:root {
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);

    --custom-guild-list-padding: 12px;
    --custom-guild-list-width: calc(
        max(var(--guildbar-avatar-size), var(--guildbar-folder-size))
        + var(--custom-guild-list-padding) * 2
    );
}

nav[class*="guilds_"] {
    /* Uncomment if you changed up your nameplate */
    /* margin: 0;
    [class*="sidebar_"]::after {
        height: 0;
    } */

    defs>path {
        /* #svg-mask-squircle */
        d: path("M0 0.464C0 0.301585 0 0.220377 0.0316081 0.158343C0.0594114 0.103776 0.103776 0.0594114 0.158343 0.0316081C0.220377 0 0.301585 0 0.464 0H0.536C0.698415 0 0.779623 0 0.841657 0.0316081C0.896224 0.0594114 0.940589 0.103776 0.968392 0.158343C1 0.220377 1 0.301585 1 0.464V0.536C1 0.698415 1 0.779623 0.968392 0.841657C0.940589 0.896224 0.896224 0.940589 0.841657 0.968392C0.779623 1 0.698415 1 0.536 1H0.464C0.301585 1 0.220377 1 0.158343 0.968392C0.103776 0.940589 0.0594114 0.896224 0.0316081 0.841657C0 0.779623 0 0.698415 0 0.536V0.464Z");
    }

    defs {
        width: var(--guildbar-avatar-size);
        height: var(--guildbar-avatar-size);
    }

    [class*="childWrapper__"]>svg {
        width: calc(var(--guildbar-avatar-size) - 18px);
        height: calc(var(--guildbar-avatar-size) - 18px);
    }

    [class*="iconSizeMini_"] {
        width: calc(var(--guildbar-folder-size) / 3);
        height: calc(var(--guildbar-folder-size) / 3);

        [class*="acronym_"] {
            line-height: calc(var(--guildbar-folder-size) / 3);
        }

        &[style*="font-size: 12px;"] {
            font-size: 10px !important;
        }
        &[style*="font-size: 10px;"] {
            font-size: 7px !important;
        }
        &[style*="font-size: 8px;"] {
            font-size: 6px !important;
        }
    }

    [class*="childWrapper__"],
    [class*="childWrapper__"] img,
    [class*="icon_"],
    [class*="circleIconButton__"] {
        border-radius: 50% !important;
        transition: border-radius 150ms linear;
    }

    [class*="selected__"] {
        [class*="childWrapper__"],
        [class*="childWrapper__"] img,
        [class*="icon_"],
        &[class*="circleIconButton__"] {
            border-radius: 27% !important;
        }
    }

    svg[class*="placeholderMask__"] {
        width: var(--guildbar-avatar-size);
        height: var(--guildbar-avatar-size);
    }

    svg:not([class*="placeholderMask__"]) {
        top: 0px;
        left: 0px;

        foreignObject {
            width: var(--guildbar-avatar-size);
            height: var(--guildbar-avatar-size);
            transform: translate(-4px, -4px);
        }
    }

    mask {
        --badge-offset: calc(var(--guildbar-avatar-size) - 40px);


        use[href$="-lower_badge_masks"] {
            translate: var(--badge-offset) var(--badge-offset);
        }

        use[href$="-upper_badge_masks"] {
            translate: var(--badge-offset);
        }

        use[href$="-blob_mask"] {
            scale: var(--blob-scale);
        }
    }

    [class*="folderIcon__"] {
        use {
            translate: none !important;

            &[href$="-blob_mask"] {
                scale: var(--folder-blob-scale) !important;
            }
        }

        [class*="wrapper_"],
        foreignObject {
            width: var(--guildbar-folder-size) !important;
            height: var(--guildbar-folder-size) !important;
        }
    }

    [class*="closedFolderIconWrapper__"] {
        gap: initial;
    }

    [class*="listItem__"] {
        margin-bottom: 8px;
    }

    [class*="stack_"] {
        gap: 0 !important;
    }

    div:not([class]):has([class*="listItem__"]) {
        height: var(--guildbar-avatar-size) !important;
        margin: 8px 0 8px;
    }

    [class*="isExpanded__"] {
        [class*="folder__"] {
            background-color: var(--background-secondary);
        }

        [class*="expandedFolderBackground__"] {
            border-radius: 24px;
        }

        [class*=expandedFolderIconWrapper__] {
            svg {
                width: calc(var(--guildbar-folder-size)/2);
                height: calc(var(--guildbar-folder-size)/2);
            }
            margin: 0;
            transition: background-color var(--custom-folder-item-animation-duration) ease-out; /* 150ms */
        }

        [class*="stack_"] {
            height: auto !important;
            :last-child {
                margin-bottom: 0;
            }
        }

        margin-bottom: 8px;
    }

    [id^="folder-items-"] {
        --guildbar-avatar-size: var(--guildbar-folder-size) !important;
    }
}

:root {
    /* Only include this part if you wish to change these variables */
    /* You can change the size but only to be less than 48px, you must change the blob scale too */
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);
}
