/*     Modernized audio attachments      */
[class^="mosaicItem"] > [class^="wrapperAudio"] > [class^="audioMetadata"] {
  margin-bottom: 24px;
}
[class^="mosaicItem"] > [class^="wrapperAudio"] > [class^="audioControls"] {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 0px 0px 8px 8px;
}
