/*Changes the staff tag background color and also font color - Use with MoreUserTags*/
/*xq37*/

span[data-tag="owner"] {
  background-color: #f09f19; /* gold */
  color: black;
}

span[data-tag="admin"] {
  background-color: #c0c0c0; /* silver */
  color: black;
}

span[data-tag="staff"] {
  background-color: #88540b; /* brown */
  color: white;
}

span[data-tag="mod"] {
  background-color: #6e7279; /* grey */
  color: white;
}

span[data-tag="vc mod"] {
  background-color: #0b6623; /* green */
  color: white;
}

.ownerIcon-255uKo {
  display: none;
}
